<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to Skrimmage
      </h1>
      <h2 class="subtitle">
        All-comprehensive site for Sports Analytics and Games Research.
      </h2>
    </div>
  </div>
</section>

<div class="topics" data-controller="topics" data-topics-request="<%= @request_id %>">
    <h3 class="subtitle">Latest Forum Topics:</h3>
    <div data-target="topics.topics">
        <p>Refreshing Topics...</p>
    </div>
</div>