<h1>
Hello World
</h1>

<div class="topics" data-controller="topics" data-topics-request="<%= @request_id %>">
    <h2>Latest Topics:</h2>
    <div data-target="topics.topics">
        <p>Refreshing Topics...</p>
    </div>
</div>